.task-edit__legend {
    font-size: 1.25rem;
    margin-bottom: 15px;
}

.task-edit__form-item {
    display: flex;
    justify-content: flex-start;
    width: 550px;
}

.task-edit__input-label {
    width: 200px;
}
