.header {
    margin-bottom: 30px;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.header__title-wrapper {
}

.header__title {
    margin: 0;
}

.header__link + .header__link {
    margin-left: 20px;
}